
.title{

text-align: center;
margin-top: 2rem;
  
}
.title p {
  font-size: 5rem;
}

.viewCourse {
  display: flex;
  justify-content: space-around;
}
.date {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;

}
.currencyName{
  font-size: 6rem;
  margin-bottom: 3rem;
}

.currencyAmount{
  font-size: 3rem;
  
}
