<div class="calculator">
  <div class="blockSelect">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input
          matInput
          name="firstInput"
          type="number"
          (ngModelChange)="changeInputOne($event)"
          [(ngModel)]="inputOne"
        />
      </mat-form-field>
    </form>
    <mat-form-field>
      <mat-label>Select a currency</mat-label>
      <mat-select
        [(ngModel)]="selected"
        [(value)]="selected"
        (ngModelChange)="changeSelect1($event)"
      >
        <mat-option value="eur"
          ><span class="flag-icon flag-icon-eu flag-icon-squared"></span
        ></mat-option>
        <mat-option value="usd"
          ><span class="flag-icon flag-icon-us flag-icon-squared"></span
        ></mat-option>
        <mat-option value="ua"
          ><span class="flag-icon flag-icon-ua flag-icon-squared"></span
        ></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="blockSelect">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input
          matInput
          name="secondInput"
          type="number"
          (ngModelChange)="changeInputTwo($event)"
          [(ngModel)]="inputTwo"
        />
      </mat-form-field>
    </form>

    <mat-form-field>
      <mat-label>{{ selected2 }}</mat-label>
      <mat-select
        [(ngModel)]="selected2"
        [(value)]="selected2"
        (ngModelChange)="changeSelect2($event)"
      >
        <mat-option value="eur"
          ><span class="flag-icon flag-icon-eu flag-icon-squared"></span
        ></mat-option>
        <mat-option value="usd"
          ><span class="flag-icon flag-icon-us flag-icon-squared"></span
        ></mat-option>
        <mat-option value="ua" selected2
          ><span class="flag-icon flag-icon-ua flag-icon-squared"></span
        ></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<!-- <mat-form-field>
      <mat-label>Select a currency</mat-label>
      <mat-select
        [(ngModel)]="selected"
        [(value)]="selected"
        (ngModelChange)="changeSelect1($event)"
      >
        <mat-option value="eur">eur</mat-option>
        <mat-option value="usd">usd</mat-option>
        <mat-option value="ua" selected>ua</mat-option>
      </mat-select>
    </mat-form-field> -->

<!-- <input
      type="number"
      (ngModelChange)="changeInputTwo($event)"
      [(ngModel)]="inputTwo"
      placeholder="0"
    /> -->

<mat-icon aria-hidden="false" aria-label="Example home icon"
  >swap_horiz</mat-icon
>
