<h1>Calculator</h1>

<div class="calculator">
  <div class="blockSelect">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input
          matInput
          name="firstInput"
          type="number"
          (ngModelChange)="changeInputLeft($event)"
          [(ngModel)]="inputLeft"
        />
      </mat-form-field>
    </form>
    <mat-form-field>
      <mat-label style="font-size: 15px">{{ currencySelectionLeft }}</mat-label>
      <mat-select
        [(ngModel)]="currencySelectionLeft"
        [(value)]="currencySelectionLeft"
        (ngModelChange)="changeCurrencyOne($event)"
      >
        <mat-option value="eur"
          ><span
            class="flag-icon flag-icon-eu flag-icon-squared"
            style="width: 25px; height: 25px"
          ></span
        ></mat-option>
        <mat-option value="usd"
          ><span
            class="flag-icon flag-icon-us flag-icon-squared"
            style="width: 25px; height: 25px"
          ></span
        ></mat-option>
        <mat-option value="ua"
          ><span
            class="flag-icon flag-icon-ua flag-icon-squared"
            style="width: 25px; height: 25px"
          ></span
        ></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >swap_horiz</mat-icon
    >
  </div>
  <div class="blockSelect">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <input
          matInput
          name="secondInput"
          type="number"
          (ngModelChange)="changeInputRight($event)"
          [(ngModel)]="inputRight"
        />
      </mat-form-field>
    </form>

    <mat-form-field>
      <mat-label style="font-size: 15px">{{ currencySelectionRight }}</mat-label>
      <mat-select
        [(ngModel)]="currencySelectionRight"
        [(value)]="currencySelectionRight"
        (ngModelChange)="changeCurrencyTwo($event)"
      >
        <mat-option value="eur"
          ><span
            class="flag-icon flag-icon-eu flag-icon-squared"
            style="width: 25px; height: 25px"
          ></span
        ></mat-option>
        <mat-option value="usd"
          ><span
            class="flag-icon flag-icon-us flag-icon-squared"
            style="width: 25px; height: 25px"
          ></span
        ></mat-option>
        <mat-option value="ua" select
          ><span
            class="flag-icon flag-icon-ua flag-icon-squared"
            style="width: 25px; height: 25px"
          ></span
        ></mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="footer">
  <a href="https://bank.gov.ua/en/">National Bank of Ukraina</a>
</div>
